{% extends 'stepshop/base.html' %}
{% load static %}
{% load default_image_tags %}

{% block title %}Главная{% endblock %}

{% block content %}
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                    <h2>EVILBLOODMACHINE INC.</h2>
                    <div class="line-dec"></div>
                    <p>
                        Крупнейший музыкальный онлайн-магазин у меня в районе.<br><br>
                        Виниловые пластинки, CD-диски и цифровые копии тут вы можете приобрести по цене которую установил исполнитель.
                    </p>
                    <div class="main-button">
                        <a href="{% url 'products:index' %}">Каталог</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->

<!-- Featured Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Интересные предложения</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    {% for prod in products %}
                    <a href="{% url 'products:product' prod.pk %}">
                        <div class="featured-item">
                            <img src="{{ prod.image|default_product_image }}"
                         alt="{{ prod.name }}">
                            <h4>{{ prod.name }}</h4>
                            <h6>${{ prod.price }}</h6>
                            <p>{{ prod.category }}</p>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featred Ends Here -->
{% endblock %}